{%extends 'base.html'%}
{%block body%}
<section class="work" style="max-width: 1200px; margin: auto">
  <p class="work_head">Some Things I've Built</p>
  <div class="work_container feed">
    <div class="work_image1">
      <img class="res_img" src="../static/img/FeedEveryone.png" alt="">
    </div>
    <div class="work_details">
      <p><a class="work_title" href="https://feedeveryone.onrender.com/login">FeedEveryone</a></p>
      <div class="work_description">
        <p class="brief">A medium of communication between people having food willing to donate and homeless without food</p>
        <p class="tools">Redux, React, Express, Node JS, MongoDB, Material UI and CSS</p>
      </div>
      <div class="work_links">
        <a class="github_link" href="https://github.com/Minesh6684/MERN"><i class="bi bi-github"></i></a>
        <a href="https://feedeveryone.onrender.com/login"><i class="bi bi-box-arrow-up-right"></i></a>
      </div>
    </div>
  </div>
  <div class="work_container book">
    <div class="work_details_reverse">
      <p><a class="work_title" href="https://bookarena.onrender.com">bookArena</a></p>
      <div class="work_description_reverse">
        <p class="brief">The web-application maintains record of books. A user can
           store, retrieve and delete book information.
        </p>
        <p class="tools">Flask, Python, CSS, HTML, SQLAlchemy</p>
      </div>
      <div class="work_links">
        <a class="github_link" href="https://github.com/Minesh6684/bookArena"><i class="bi bi-github"></i></a>
        <a href="https://bookarena.onrender.com"><i class="bi bi-box-arrow-up-right"></i></a>
      </div>
    </div>
    <div class="work_image2">
      <img class="res_img" src="../static/img/bookArena.png" alt="">
    </div>
  </div>
  <div class="work_container fish">
    <div class="work_image3">
      <img class="res_img" src="../static/img/FishOn.png" alt="">
    </div>
    <div class="work_details">
      <p><a class="work_title" href="https://fishon.vercel.app/">FishOn</a></p>
      <div class="work_description">
        <p class="brief">Extensive use of fundamentals of web building technologies, FishOn is a static website providing information about fish products</p>
        <p class="tools">HTML, CSS, Javascript</p>
      </div>
      <div class="work_links">
        <a class="github_link" href="https://github.com/Minesh6684/FishOn"><i class="bi bi-github"></i></a>
        <a href="https://fishon.vercel.app/"><i class="bi bi-box-arrow-up-right"></i></a>
      </div>
    </div>
  </div>
  <div class="work_container ttt">
    <div class="work_details_reverse">
      <p><a class="work_title" href="https://tic-tac-toe-minesh6684.vercel.app/">Tic Tac Toe</a></p>
      <div class="work_description_reverse">
        <p class="brief">Two player game let the user change one's name, let select the player2 mode as Computer or Human
           It also tracks the number of games played and winning count.
        </p>
        <p class="tools">HTML, CSS, Javascript</p>
      </div>
      <div class="work_links">
        <a class="github_link" href="https://github.com/Minesh6684/TicTacToe"><i class="bi bi-github"></i></a>
        <a href="https://tic-tac-toe-minesh6684.vercel.app/"><i class="bi bi-box-arrow-up-right"></i></a>
      </div>
    </div>
    <div class="work_image4">
      <img class="res_img" src="../static/img/ttt.png" alt="">
    </div>
  </div>
  <div class="other_work">
    <div class="work_card">
      <p class="work_title">Rock Paper Scissor</p>
      <p class="brief">Two player game let the user change one's name, let select the player2 mode as Computer or Human
        It also tracks the number of games played and winning count.
      </p>
      <p class="tools">HTML, CSS, Javascript</p>
      <a class="github_link" href="https://github.com/Minesh6684/Javascript/tree/main/MIDTERM"><i class="bi bi-github"></i></a>
    </div>
    <div class="work_card">
      <p class="work_title">Course Registration</p>
      <p class="brief">A database facilitates student to register for the classes arranged for respective students related to enrolled program
      </p>
      <p class="tools">MS SQL SERVER, SQL Queries, Normalization, Stored Procedures and Scalar Function</p>
    </div>
  </div>
</section>

{%endblock%}